@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #f8f8f8;
}

.main-container {
  width: 100%;
  max-width: 1235px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
}

.vue-skeletor {
  border-radius: 8px;
}
